@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");
/*--------------- GENERAL ---------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.2rem;
}
/*----------------- NAVIGATION BAR -------------------*/

nav {
  display: flex;
  align-items: center;
  height: 7vh;
  color: #5171a5;
  background: linear-gradient(to right, #de8435 0%, #f0b143 100%);
  justify-content: space-between;
}

.logo {
  display: flex;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 300;
  padding-left: 25px;
}

.sun {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: #ffcf47;
  background: -webkit-radial-gradient(center, #ffef47, #de8435);
  background: -moz-radial-gradient(center, #ffef47, #de8435);
  background: radial-gradient(ellipse at center, #ffef47, #de8435);
}

.logo h3 {
  align-self: center;
  padding-left: 15px;
  z-index: 1;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 25%;
  font-weight: 500;
  margin-right: 15%;
  z-index: 1;
}

.nav-links li {
  list-style-type: none;
}

.nav-links a {
  text-decoration: none;
  color: #5171a5;
}

.burguer {
  display: none;
}

.burguer div {
  width: 25px;
  height: 3px;
  background-color: #5171a5;
  margin: 5px;
}

/*------------------ INTRO SECTION -------------------*/

#intro {
  background: url("../images/hero.png");
  background-size: cover;
  height: 100vh;
}

.intro-text {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -35%);
}

.intro-text h1 {
  color: #254c54;
  font-size: 250%;
  font-weight: 500;
  letter-spacing: 3px;
  padding: 0 10px;
}

/*------------------ ABOUT SECTION -------------------*/
.container-about {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 70vh;
}

.container-about img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}

#about-text {
  background: #db8d3f;
  color: #132225;
  text-align: center;
  display: grid;
  justify-content: center;
  align-items: center;
}

#about-text p {
  font-size: 2.8rem;
}
/*--------------- THINGS TO DO SECTION ---------------*/
.container-things-to-do {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.container-btns {
  background: #eaeaea;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}

.place-option {
}

.places {
  margin: 10px;
}

.btn-places {
  border-radius: 50%;
  cursor: pointer;
  height: 140px;
  width: 140px;
  box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 1);
  outline: none;
}

.btn-places:active,
.choices-btn:active {
  transform: scale(0.9);
}

.btn-beach {
  background: url("../images/beach.png") no-repeat center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 12px solid #de8435;
}

.btn-restaurtant {
  background: url("../images/tapas.png") no-repeat center;
  background-size: cover;
  border: 12px solid #ffcf47;
}

.btn-activities {
  background: url("../images/sup.png") no-repeat center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 12px solid #254c54;
}

.places h3 {
  text-align: center;
  margin-top: 5px;
  font-family: monospace;
  font-size: 1.7rem;
}

.choices {
  display: grid;
  height: fit-content;
  align-self: center;
}

.choices-btn {
  height: 40px;
  width: 175px;
  background: #254c54;
  color: #de8435;
  font-family: monospace;
  font-weight: 600;
  margin: 10px 0;
  border: none;
  border-radius: 2px;
  outline: none;
}

.choices-btn:focus {
  outline: 3px auto #de8435;
}

.container-tips-map {
  background: #254c54;
}
/*---------------------- CONTACT ---------------------*/

/*---------------------- FOOTER ----------------------*/

/*------------------- MEDIA QUERIES ------------------*/
