/*--------------- GENERAL ---------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*----------------- NAVIGATION BAR -------------------*/

/*------------------ INTRO SECTION -------------------*/

/*------------------ ABOUT SECTION -------------------*/

/*--------------- THINGS TO DO SECTION ---------------*/

/*---------------------- CONTACT ---------------------*/

/*---------------------- FOOTER ----------------------*/

/*------------------- MEDIA QUERIES ------------------*/
